/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* background */
:root{
    --background: url("https://r4.wallpaperflare.com/wallpaper/892/367/794/uzumaki-junji-ito-monochrome-manga-dark-hd-wallpaper-69f0e80d519afdfb86f7a8efc0b1b6bd.jpg");
                        /* Put your background here ^^ */
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}