/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* navbar */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.header-wrap {
    width: 100%;
    display: grid;
    justify-content: center;
}

@media (min-width: 1540px) {
    .header-wrap .nav-wrap {
        border-radius: 5px;
        width: 1320px;
        padding-left: 285px;
        padding-right: 285px;
    }
}

@media (min-width: 1040px) and (max-width: 1540px) {
    .header-wrap .nav-wrap {
        border-radius: 5px;
        width: 1040px;
        padding-left: 195px;
        padding-right: 195px;
    }
}


.header-wrap .nav-wrap .link {
    font-size: 15px;
    transition: all 0.5s cubic-bezier(.39, .58, .57, 1);
}


.header-wrap .nav-wrap .link:hover {
    scale: 1.1;
}

.nav.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-wrap {
    padding: 0 !important;
}

.user-page-unscoped.red .progress .bar {
    background: linear-gradient(270deg, #6f6af615, #6e6af6) !important;
}

.nav > .router-link-active, .header-wrap .nav-wrap .link:hover {
    color: rgb(var(--color-blue)) !important;
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)), 0 0 20px rgb(var(--color-blue)) !important;
}